<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <div class="header center">
            <div class="logo">
                <h3><a href="/">Logo</a></h3>
            </div>
            <nav>
                <ul>
                    <li class="nav-items"><a href="/users/login">Premium</a></li>
                    <li class="nav-items"><a href="/users/signup">SignUp</a></li>
                    <li class="nav-items"><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
        <div class="main center">
          <section class="welcome-message">
            <h1>Welcome Homies</h1>
          </section>
        </div>
    </body>
</html>
