<!DOCTYPE html>
<html>
    <head>
        <title>Premium Content</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <div class="header center">
            <div class="logo">
                <h3>Logo</h3>
            </div>
            <nav>
                <ul>
                    <li class="nav-items">
                        <a href="/users/signout">Log Out</a>
                    </li>
                    <li class="nav-items">
                        <a href="#">About</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main center">

        </div>
    </body>
</html>
